
<section class="thirteen columns">
    <h1>About Me</h1>
    Hello! My name is Danielle Ruth Skinner and I'm a graduate research assistant in the <a href="http://cosmo.gatech.edu/">Computational Cosmology Group</a> led by Dr. John Wise at the Georgia Institute of Technology. I am interested in galaxy evolution and formation, the first stars in the universe, and matching observations with cosmological simulations. 
    <br>
    <br>
    Before joining Georgia Tech, I received by Bachelor of Science from the University of Washington with a double major in physics and astronomy and a double minor in mathematics and philosophy. 