
<section class="thirteen columns">
    <h1>
        About Me
    </h1>

    Hello! My name is Danielle Ruth Skinner and I am an Instructor in the Department of Physics at <a href="http://cosmo.gatech.edu/"><font color="#0000ff"></font>Oregon State University</font></a>!
    
    I received my PhD in Physics from the Georgia Institute of Technology. I was part of the <a href="https://physics.oregonstate.edu/"><font color="#0000ff">Computational Cosmology Group</font></a> led by Dr. John Wise. I am interested in galaxy evolution and formation, the first stars in the universe, and matching observations with cosmological simulations. 

    <br>
    <br>

    Before joining Georgia Tech, I received my Bachelor of Science from the University of Washington with a double major in physics and astronomy and a double minor in mathematics and philosophy. While at UW, I was a student assistant in the Telescope Engineering Lab, which worked primarily for the Sloan Digital Sky Survey. 

    <br>
    <br>

    <div style="text-align:center"><img src="https://drenniks.github.io/static/img/kitties.jpg" width="300" height="340"></div>

    <br>
    <br>

    While I am not analyzing cosmological simulations, I get to spend time at home with my two kitties, Hobbes and Leto. I also enjoy my fair share of playing video games and knitting. I am currently learning how to handstand and practice contortion!
    <br>
    <br>

    <div style="text-align:center"><img src="https://drenniks.github.io/static/img/handstand.PNG" width="214" height="463"></div>
    <br>
    <br>
    In January of 2020, I dedicated myself to a vegan lifestyle, and have been fully committed ever since. I am very passionate about animal rights and the environmental impact that animal agriculture has on the earth and the communities that live around these factories. I highly encourage everyone to at least reduce, if not fully eliminate, their meat/animal product intake, and am more than happy to answer any questions you may have about making this change. Send me an email!