<section class="thirteen columns">
    <h1>EDUCATION</h1>
    <article>
        <header>
            <h1>Physics PhD Candidate</h1>
            <span>Georgia Institute of Technology</span>
            <span><address>Atlanta, Georgia</address><time>2018 to Present</time></span>
        </header>
        <p>
            <em>PhD Topic: Cosmological Simulations of the First Galaxies and their Observational Signatures</em>
        </p>
        <p>
            <em>PhD Advisor: Dr. John Wise</em>
        </p>
    </article>

    <article>
        <header>
            <h1>Masters in Physics</h1>
            <span>Georgia Institute of Technology</span>
            <span><address>Atlanta, Georgia</address><time>Graduated 2018</time></span>
        </header>
        <p>
            <em>Cumulative GPA: 3.77/4.00</em>
        </p>
    </article>

    <article>
        <header>
            <h1>Bachelor of Science</h1>
            <span>University of Washington</span>
            <span><address>Seattle, Washington</address><time>Graduated 2017</time></span>
        </header>
        <p>
            <em>Double major in Physics and Astronomy (Honors)</em>
        </p>
        <p>
            <em>Double minor in Mathematics and Philosophy</em>
        </p>
        <p>
            <em>Cumulative GPA: 3.56/4.00, Dean's List 2015-2016</em>
        </p>
    </article>

   	<h1>WORK EXPERIENCE & RESEARCH</h1>
   	<article>
        <header>
            <h1>Graduate Research Assistant</h1>
            <span><address>Georgia Institute of Technology</address><time>May 2018 to Present</time></span>
        </header>
        <p>
            <em>Research Assistant for Dr. John Wise.</em>
        </p>
        <p>
            <em>Investigating the first stars in the universe.</em>
        </p>
    </article>

   	<article>
        <header>
            <h1>Graduate Teaching Assistant</h1>
            <span><address>Georgia Institute of Technology</address><time>August 2017 to May 2018</time></span>
        </header>
        <p>
            <em>Fall 2017: Lab TA for Introductory Physics 2212 - Electromagnetism</em>
        </p>
        <p>
            <em>Spring 2018: Lab TA for Introductory Physics 2211 - Mechanics</em>
        </p>
    </article>

    <article>
        <header>
            <h1>Student Assistant, Plate Distribution Lead</h1>
            <span>Sloan Digital Sky Survey (SDSS) Telescope Engineering Lab, UW<address></address><time>January 2015 to August 2017</time></span>
        </header>
        <p>
            - <em>Assisted with plug-plate drilling, washing, measuring, and distribution.</em>
        </p>
        <p>
            - <em>Assisted with measurement and design of the APOGEE-2S spectrograph slithead.</em>
        </p>
        <p>
            - <em>Plate Distribution Lead, Education Project Outreach: Started the Plates for Education Project with the EPO team.</em>
        </p>
        <p>
        	- <em>Re-aluminized the 3.5 meter mirror at the Apache Point Observatory.</em>
        </p>
        <p>
            - <em>Attended the SDSS Collaboration Meeting in June 2016, Madison, Wisconsin. Assisted in leading a two-day workshop for local teachers with the EPO team.</em>
        </p>
    </article>

    <article>
        <header>
            <h1>Student Research Assistant</h1>
            <span>Dr. Tom Quinn, N-Body Shop, Astronomy Department, UW<address></address><time>September 2013 to August 2017</time></span>
        </header>
        <p>
            - <em>Researched the IRX-Beta relationship for simulated galaxies at high redshift.</em>
        </p>
        <p>
            - <em>Worked on a supercomputer, Comet, running and accessing cosmological simulations.</em>
        </p>
        <p>
            - <em>Simulated radiative transfer using the post-processing code SKIRT to generate spectral energy distributions.</em>
        </p>
        <p>
            - <em>Utilized Pynbody as a visualization too for n-body simulations.</em>
        </p>
    </article>

    <article>
        <header>
            <h1>Woodruff Scientific Computing Bootcamp</h1>
            <span>UW, Seattle, Washington<address></address><time>September 2016</time></span>
        </header>
        <p>
            <em>Learned the basics of how to model, simulate and analyze plasma. Worked on the National Energy Research Scientific Computing Center's computer, Edison</em>
        </p>
 
    </article>

    <article>
        <header>
            <h1>Student Tutor</h1>
            <span>UW, Seattle, Washington<address></address><time>Spring 2016</time></span>
        </header>
        <p>
            <em>Tutored introductory physics students through the class, Physics 403 (Peer tutoring). Topic covered: Mechanics</em>
        </p>
 
    </article>


   	<h1>COMPUTER LANGUAGES & SKILLS</h1>
   	<article>
   		<p>	
   		- <em>UNIX/Linux, Python, Mathematica, IRAF, SLURM commands.</em>
   		</p>
   		<p>
   		- <em>Received Physics Machine Shop certification - Spring 2015.</em>
   		</p>
    </article>

   	<h1>PUBLICATIONS & PRESENTATIONS</h1>
   	<article>
   		<header>
   			<p>
   			<span>Danielle Skinner, Lauren M. Anderson, Thomas R. Quinn, Fabio Governato, Michael Tremmel.</span>
   			</p>
   			<p>
   			<span><em>Dust Attenuation at High Redshift</em></span>
            </p>
            <span>American Astronomical Society, Poster Session. Seattle, Washington.<address></address><time>January 2015</time></span>
        </header>
        <br>
        <header>
   			<p>
   			<span>Danielle Skinner, Karen Masters, Kate Meredith.</span>
   			</p>
   			<p>
   			<span><em>SDSS Plates for Education</em></span>
            </p>
            <span>Talk presented at the SDSS Collaboration Meeting. Madison, Wisconsin.<address></address><time>June 2016</time></span>
        </header>
        <br>
        <header>
   			<p>
   			<span>Michael Blanton et al.</span>
   			</p>
   			<p>
   			<span><em>Sloan Digital Sky Survey IV: Mapping the Milky Way, Nearby Galaxies and the Distant Universe</em></span>
            </p>
            <span>Astronomical Journal (2017): <a href="https://arxiv.org/pdf/1703.00052.pdf">arxiv:1703.00052 [astro-ph.GA]</a></span>
        </header>
        <br>
        <header>
   			<p>
   			<span>John Wilson et al.</span>
   			</p>
   			<p>
   			<span><em>The Apache Point Observatory Galactic Evolution Experiment (APOGEE) Spectrograph</em></span>
            </p>
            <span>Accepted by the Publications of the Astronomical Society of the Pacific.</a></span>
        </header>
        <br>
        <header>
        <p>
        <span>Danielle Skinner, John H. Wise</span>
        </p>
        <p>
        <span><em>Where Do Population III Stars Form? The Effects of Radiative Feedback and Self-Shielding on the Host Halo Mass Distribution.</em></span>
            </p>
            <span>Stellar Archaeology as a Time Machine to the First Stars, Poster Session. Institute of the Physics and Mathematics of the Universe, Tokyo, Japan. <address></address><time>December 2018</time></span>
        </header>
        <br>
        <header>
        <p>
        <span>Danielle Skinner, John H. Wise</span>
        </p>
        <p>
        <span><em>Where Do Population III Stars Form? The Effects of Radiative Feedback and Self-Shielding on the Host Halo Mass Distribution.</em></span>
            </p>
            <span>American Astronomical Society, Poster Session. Seattle, Washington. <address></address><time>January 2019</time></span>
   	</article>



</section>