<section class="thirteen columns">
   Download my <a href="static/Danielle_Skinner_Resume.pdf" download><font color="#0000ff">Resume<</font>/a> and my <a href="static/Danielle_Skinner_CV.pdf" download><font color="#0000ff">CV</font></a>.
	<br>
	<h1>EDUCATION</h1>

    <article>
        <header>
            <h1>Ph.D. Physics</h1>
            <span>Georgia Institute of Technology</span>
            <span><address>Atlanta, Georgia</address><time>2018 to Present</time></span>
        </header>
			PhD Topic: Nucleosynthesis of Neutron Star Mergers in the Early Universe
			<br>
			PhD Advisor: Dr. John Wise
			<br>
			Minor: Higher Education
			<br>
			Courses Taken: Fundamentals of Teaching and Learning, Course Design, Teaching Capstone
    </article>

    <article>
        <header>
            <h1>M.S. Physics</h1>
            <span>Georgia Institute of Technology</span>
            <span><address>Atlanta, Georgia</address><time>Graduated 2018</time></span>
        </header>
            Cumulative GPA: 3.77/4.00
    </article>

    <article>
        <header>
            <h1>B.S. Physics and Astronomy</h1>
            <span>University of Washington</span>
            <span><address>Seattle, Washington</address><time>Graduated 2017</time></span>
        </header>
            Double minor in Mathematics and Philosophy
			<br>
            Cumulative GPA: 3.56/4.00, Dean's List 2015-2016
    </article>

   	<h1>Research Experience</h1>
   	<article>
        <header>
            <h1>Graduate Research Assistant</h1>
            <span><address>Georgia Institute of Technology</address><time>May 2018 to Present</time></span>
        </header>
		&#9956; Analyzed high resolution cosmological simulations to study early universe star formation.
		<br>
		&#9956; Used Python to conduct data analysis on large datasets (> 40 Tb of data).
		<br>
		&#9956; Created a spectral energy distribution fitting pipeline using Python to model early galaxy formation.
    </article>

    <article>
    	 <header>
            <h1>International High Performance Computing Summer School</h1>
            <span><address>Kobe, Japan</address><time>July 2019</time></span>
        </header>
		Topics covered: Parallel programming, MPI, OpenMP, HPC and Python, Scientific Visualization, Machine Learning
    </article>

    <article>
        <header>
            <h1>Plate Distribution Lead, Student Assistant</h1>
            <span>Sloan Digital Sky Survey (SDSS) Telescope Engineering Lab, University of Washington<address></address><time>January 2015 to August 2017</time></span>
        </header>
		&#9956; Started and organized the Plates for Education Program with the Education and Public Outreach team. 
		<br>
		&#9956; Organized retired plug plates and created corresponding posters for distribution to high schools.
		<br>
		&#9956; Hosted 8 high school teachers at University of Washington to teach them about the plates and educational resources.
    </article>

    <article>
        <header>
            <h1>Student Research Assistant</h1>
            <span>Dr. Tom Quinn, N-Body Shop, Astronomy Department, University of Washington<address></address><time>September 2013 to August 2017</time></span>
        </header>
		&#9956; Simulated radiative transfer using the post-processing code SKIRT to generate spectral energy distributions of simulated galaxies. 
		<br>
		&#9956; Utilized a supercomputer, Comet, to run and access cosmological simulations to conduct data analysis and statistics using Python. Libraries and packages used: pynbody, numpy, astropy, matplotlib, scipy
    </article>

    <article>
        <header>
            <h1>Woodruff Scientific Computing Bootcamp</h1>
            <span>University of Washington, Seattle, Washington<address></address><time>September 2016</time></span>
        </header>
		&#9956; Learned the basics of how to model, simulate and analyze plasma. 
		<br>
		&#9956;  Worked on the National Energy Research Scientific Computing 
    </article>

	<h1>Teaching Experience</h1>
	<article>
        <header>
            <h1>Graduate Teaching Assistant</h1>
            <span>Georgia Institute of Technology<address></address><time>August 2017 to May 2018</time></span>
        </header>
		&#9956; Introductory Mechanics Labs (3 sections) 
		<br>
		&#9956; Introductory Electromagnetism Labs (4 sections) 
		<br>
		&#9956; Designed introductory lecture for each lab, assisted with lab set up and data collection and analysis, graded lab homework weekly, and exams.
    </article>

    <article>
        <header>
            <h1>Student Tutor</h1>
            <span>University of Washington, Seattle, Washington<address></address><time>Spring 2016</time></span>
        </header>
            &#9956; Tutored introductory physics students through the class, Physics 403 (Peer tutoring). Topic covered: Mechanics
    </article>


   	<h1>SKILLS</h1>
   	<article>
			&#9956; <em>Programming:</em> Python, C++, Linux/Unix, Bash scripting, LaTeX, Mathematica, yt, numpy, scipy, matplotlib, json, jupyter, h5py, git, slurm,
			<br>
			&#9956; <em>Scientific skills:</em> Technical writing, Github, data analysis, visualization, and presentation, high performance computing, data reduction, Microsoft Word, Microsoft Powerpoint 
			<br>
			&#9956; Public speaking, management, mentoring, student-centered teaching methods
	</article>

    <h1>PUBLICATIONS</h1>
    <article>
		<header>
    		<p>
    			<span>
    				Danielle Skinner, John H. Wise 
    			</span>
    		</p>
    		<p>
    			<span>
    				<em>
    					Metal Mixing from Neutron Star Mergers in the Early Universe
    				</em>
    			</span>
    		</p>
    		<p>
    			<span>
    				In prep, advanced draft is available upon request.
    			</span>
    		</p>
    	</header>
    	<br>
		<header>
    		<p>
    			<span>
    				Corey Brummel-Smith, Danielle Skinner, Snigdaa Sethuram, John H. Wise, Bin Xia, Khushi Taori
    			</span>
    		</p>
    		<p>
    			<span>
    				<em>
    					Inferred galaxy properties during Cosmic Dawn from early JWST photometry results
    				</em>
    			</span>
    		</p>
    		<p>
    			<span>
    				Submitted to Monthly Notices of the Royal Astronomical Society. arXiv:2302.04882
    			</span>
    		</p>
    	</header>
    	<br>
    	<header>
    		<p>
    			<span>
    				Danielle Skinner, John H. Wise 
    			</span>
    		</p>
    		<p>
    			<span>
    				<em>
    					Cradles of the first stars: self-shielding, halo masses, and multiplicity
    				</em>
    			</span>
    		</p>
    		<p>
    			<span>
    				Monthly Notices of the Royal Astronomical Society, Volume 492, Issue 3, March 2020, Pages 4386-4397, https://doi.org/10.1093/mnras/staa139
    			</span>
    		</p>
    	</header>
		<br>
		<header>
    		<p>
    			<span>
    				B. Lundgren et al. incl. Danielle Skinner
    			</span>
    		</p>
    		<p>
    			<span>
    				<em>
    					Data-driven education and public outreach with the Sloan Digital Sky Survey
    				</em>
    			</span>
    		</p>
    		<p>
    			<span>
    				Boletín de la Asociación Argentina de Astronomía 61a 261
    			</span>
    		</p>
    	</header>
    	<br>
    	<header>
   			<p>
   				<span>
   				John Wilson et al. incl. Danielle Skinner
   				</span>
   			</p>
   			<p>
   				<span>
   					<em>
   						The Apache Point Observatory Galactic Evolution Experiment (APOGEE) Spectrograph
   					</em>
   				</span>
            </p>
            <span>
            	Publications of the Astronomical Society of the Pacific, Volume 131, Number 999: <a href="https://arxiv.org/abs/1902.00928">arxiv:1902.00928 [astro-ph.IM]</a>
            </span>
        </header>
        <br>
    	<header>
   			<p>
   				<span>
   					Michael Blanton et al. incl. Danielle Skinner
   				</span>
   			</p>
   			<p>
   				<span>
   					<em>
   					Sloan Digital Sky Survey IV: Mapping the Milky Way, Nearby Galaxies and the Distant Universe
   					</em>
   				</span>
            </p>
            <span>Astronomical Journal (2017): <a href="https://arxiv.org/pdf/1703.00052.pdf">arxiv:1703.00052 [astro-ph.GA]</a></span>
        </header>
    </article>

   	<h1>PRESENTATIONS</h1>
   	<article>
		<header>
        	<p>
        		<span>
        			Danielle Skinner, John H. Wise
        		</span>
        	</p>
        	<p>
        		<span>
        			<em>
        				Nucleosynthesis from Neutron Star Mergers in the Early Universe.
        			</em>
        		</span>
            </p>
            	<span>
            		American Astronomical Society Meeting, Dissertation Talk. Seattle, Washington<address></address><time>January, 2023</time>
            	</span>
        </header>
        <br>
		<header>
        	<p>
        		<span>
        			Danielle Skinner, John H. Wise
        		</span>
        	</p>
        	<p>
        		<span>
        			<em>
        				Cradles of the first stars: self-shielding, halo masses, and multiplicity.
        			</em>
        		</span>
            </p>
            	<span>
            		From Stars to Galaxies II. Gothenburg, Sweden. <address></address><time>June, 2022</time>
            	</span>
        </header>
        <br>
		<header>
        	<p>
        		<span>
        			Jennifer Mead, Kaley Brauer, Alexander Ji, John Wise, Greg Bryan, Mordecai-Mark Mac Low, Andrew Emerick, Anna Frebel, Benoit Cote, Danielle Skinner, Corey Brummel-Smith
        		</span>
        	</p>
        	<p>
        		<span>
        			<em>
        				Early chemical enrichment of dwarf galaxies in star-by-star cosmological simulations.
        			</em>
        		</span>
            </p>
            	<span>
            		American Astronomical Society Meeting, Poster Session. Pasadena, California. <address></address><time>June 2022</time>
            	</span>
        </header>
        <br>
		<header>
        	<p>
        		<span>
        			Danielle Skinner, John H. Wise
        		</span>
        	</p>
        	<p>
        		<span>
        			<em>
        				Cradles of the first stars: self-shielding, halo masses, and multiplicity.
        			</em>
        		</span>
            </p>
            	<span>
            		First Stars VI, Poster Session. Concepción, Chile. <address></address><time>March, 2020</time>
            	</span>
        </header>
        <br>
   		<header>
        	<p>
        		<span>
        			Danielle Skinner, John H. Wise
        		</span>
        	</p>
        	<p>
        		<span>
        			<em>
        				Where Do Population III Stars Form? The Effects of Radiative Feedback and Self-Shielding on the Host Halo Mass Distribution.
        			</em>
        		</span>
            </p>
            	<span>
            		American Astronomical Society Meeting, Poster Session. Seattle, Washington. <address></address><time>January 2019</time>
            	</span>
        </header>
        <br>
        <header>
        	<p>
        		<span>
        			Danielle Skinner, John H. Wise
        		</span>
        	</p>
        	<p>
        		<span>
        			<em>
        				Where Do Population III Stars Form? The Effects of Radiative Feedback and Self-Shielding on the Host Halo Mass Distribution.
        			</em>
        		</span>
            </p>
            	<span>
            		Stellar Archaeology as a Time Machine to the First Stars, Poster Session. Institute of the Physics and Mathematics of the Universe, Tokyo, Japan. <address></address><time>December 2018</time>
            	</span>
        </header>
        <br>
        <header>
   			<p>
   				<span>
   					Danielle Skinner, Karen Masters, Kate Meredith.
   				</span>
   			</p>
   			<p>
   				<span>
   					<em>
   						SDSS Plates for Education
   					</em>
   				</span>
            </p>
            	<span>
            		Talk presented at the SDSS Collaboration Meeting. Madison, Wisconsin.<address></address><time>June 2016</time>
            	</span>
        </header> 
        <br>
		<header>
			<p>
				<span>
					Danielle Skinner, Kate Meredith, Karen Masters, Nick MacDonald. 
				</span>
			</p>
			<p>
				<span>
					<em>
						Distribution Sloan Digital Sky Survey Plates and Posters as Interactive Teaching Tools.
					</em>
				</span>
		 	</p>
			 <span>
				American Astronomical Society Meeting, Poster Session. Kissimmee, Florida. <address></address><time>January 2016</time>
			 </span>
	 	</header> 
	 	<br>
   		<header>
   			<p>
   				<span>
   					Danielle Skinner, Lauren M. Anderson, Thomas R. Quinn, Fabio Governato, Michael Tremmel.
   				</span>
   			</p>
   			<p>
   				<span>
   					<em>
   						Dust Attenuation at High Redshift
   					</em>
   				</span>
            </p>
            	<span>
            		American Astronomical Society, Poster Session. Seattle, Washington.<address></address><time>January 2015</time>
            	</span>
        </header>
        
   	</article>

   	<h1>SERVICE & COMMITTEES</h1>
	<article>
        <header>
            <h1>
            	Co-founder of the Physics Allies for Wellness
            </h1>
            <span>
            	<address>Georgia Institute of Technology</address><time>August 2022 - Present</time>
            </span>
        </header>
			&#9956; Organized a group of graduate students to serve as mentors to students in the School of Physics. 
    </article>
	<article>
        <header>
            <h1>
            	Graduate Student Representative on the Diversity, Equity and Inclusion (DEI) Committee
            </h1>
            <span>
            	<address>Georgia Institute of Technology</address><time>August 2021 to August 2022</time>
            </span>
        </header>
            	&#9956; Worked to make positive cultural change within the School of Physics. The DEI committee has conducted climate surveys, added gender neutral bathrooms to the Physics building, and holds student listening sessions to get a better gauge about the issues that students are facing.
            	<br>
				&#9956; Created a new website for the DEI committee, where members of the community can engage with the committee and learn about the projects we are working on.
            	<br>
				&#9956; Teamed up with other student organizations, such as the Graduate Association of Physicists, the Society of Women in Physics and the Society of Physics Students, to meet with leaders in our School with the goal of improving student life.
    </article>
	<article>
        <header>
            <h1>
            	Mentoring Chair of the Graduate Association of Physicists (GAP)
            </h1>
            <span>
            	<address>Georgia Institute of Technology</address><time>July 2020 to Present</time>
            </span>
        </header>
			&#9956; Organize three mentoring sessions for the first year graduate students in their first semester. Topics of these sessions include mental health, program specific guidance, and career and research options. The goal of the mentoring session is so make sure the new students are supported and welcomed into the School of Physics at Georgia Tech.
			<br>
            &#9956; Gather volunteers from older graduate students to act as peer mentors for the first year graduate students. Conducts meetings with the mentors throughout the first semester.
			<br>
			&#9956; Survey first year graduate students throughout their first semester to improve the mentoring sessions and the graduate program. 
    </article>

   	<article>
        <header>
            <h1>
            	President of the Graduate Association of Physicists (GAP)
            </h1>
            <span>
            	<address>Georgia Institute of Technology</address><time>May 2019 to July 2020</time>
            </span>
        </header>
			&#9956; Led weekly meetings to organize events for the graduate students in the department. Events are focused on both career development and departmental socialization.
			<br>
			&#9956;Facilitated mentoring sessions for incoming first year graduate students to help them get acclimated with their new responsibilities and roles.
			<br>
			&#9956;Acted as a liaison between the faculty and graduate students to improve student life.
    </article>

    <article>
    	<header>
    		<h1>
    			Physics Representative on the College of Sciences Graduate Student Diversity Council
    		</h1>
    		<span>
    			<address>Georgia Institute of Technology</address><time>January 2019 - May 2020</time>
    		</span>
    	</header>
			&#9956; One of two graduate physics representatives. Recruitment committee member.
			<br>
			&#9956; Goal of the committee is to recruit underrepresented graduate students to attend school at Georgia Tech.
			<br>
			&#9956; Worked on efforts to increase stipends across campus and eliminate large student fees that are burdening students.
			<br>
			&#9956; Sat on a student council to interview College of Science Dean candidates.	
    </article>

    <article>
    	<header>
    		<h1>
    			Secretary / Treasurer of GAP
    		</h1>
    		<span>
    			<address>Georgia Institute of Technology</address><time>May 2018 - May 2019</time>
    		</span>
    	</header>
			&#9956; Took detailed notes during weekly GAP meetings.
			<br>
			&#9956; Volunteered at various GAP outreach events, including Taste of Science (Atlanta Science Festival) and Step into STEM.
			<br>
			&#9956; Worked closely with faculty to set up a "best-practices" list for professors teaching graduate classes.	
    </article>
	<h1>OUTREACH</h1>
	<article>
    	<header>
    		<h1>
    			STEMPower
    		</h1>
    		<span>
    			<address>Georgia Institute of Technology</address><time>November 2019, April 2019</time>
    		</span>
    	</header>
			&#9956; Taught Girl Scouts about the evolution and formation of galaxies, and showed them 3D movies of our simulations.
    </article>
	<article>
    	<header>
    		<h1>
    			Step into STEM
    		</h1>
    		<span>
    			<address>Georgia Institute of Technology</address><time>November 2018</time>
    		</span>
    	</header>
			&#9956; Demonstrated different angular momentum examples that students of all ages could interact with.
    </article>
	<article>
    	<header>
    		<h1>
    			Taste of Science 
    		</h1>
    		<span>
    			<address>Atlanta Science Festival, Georgia Institute of Technology</address><time>March 2018</time>
    		</span>
    	</header>
			&#9956; Discussed the crystal structure of chocolate and allowed the public to try untempered and tempered chocolate.
    </article>

	<h1>AWARDS</h1>
	<article>
			<em>Future Investigators in NASA Earth and Space Science and Technology (FINESST) Award, March 2020</em>
			<br>
			&#9956; $135,000. Funded three years of my PhD Work.
			<br>
			<em>Amelio Travel Award, 2022</em>
			<br>
			&#9956; $1,000. Funding to travel to Sweden for the From Stars to Galaxies II Conference.
			<br>
			<em>Amelio Travel Award, 2019</em> 
			<br>
			&#9956; $1,000. Funding to travel to Chile for the First Stars VI Conference.
			<br>
			<em>Amelio Travel Award, 2018</em> 
			<br>
			&#9956; $1,000. Funding to travel to Japan for the Stellar Archaeology as a Time Machine to the Frist Stars Conference.
			<br>
			<em>"Thank a Teacher" Award, Spring 2018</em>
			<br>
			&#9956; Award given to exceptional teachers by grateful students through a Georgia Tech Program.
			<br>
			<em>SmartEvals "Gold Standard", Fall 2017, Spring 2018</em>
			<br>
			&#9956; Reached top 30th percenticle among teachers in: Level of preparedness, management of classroom / lab environment, active engagement of students i.e., participation, group work, questions, etc.
		</p>
	</article>

</section>