<section class="thirteen columns">
    <h1>Outreach</h1>
    <article>
    	<header>
    		<h1>Graduate Association of Physicists</h1>
    	</header>
    	<p>
		Currently, I am the secretary/treasurer of <a href="http://gap.physics.gatech.edu/"><font color="#0000ff">GAP</font></a>. We serve as a representative for the physics graduate students and aim to promote professional development and scientific outreach with the Atlanta community. While I have been a part of GAP we have been a part of a number of career and outreach events. One of my favorite events was participating in the Atlanta Science Festival: Taste of Science. We talked about the physics of chocolate, including the ideal crystal structures and how those cystal structures are formed. We had samples of untempered, mistempered, and tempered chocolate, donated by <a href="http://www.xocolatlchocolate.com/"><font color="#0000ff">Xocolatl Small Batch Chocolate</font></a>, for people to taste and examine. 
    	</p>

   		<br>
    	<header>
    		<h1>Sloan Digital Sky Survey Plates for Education Project</h1>
    	</header>
    	<p>
		While at the University of Washington, I helped the SDSS Education and Public Outreach team start the <a href="https://www.sdss.org/education/"><font color="#0000ff">Plates for Education project</font></a>. Through this program, local educators around SDSS institutions were able to bring home a unique aluminum plug plate to teach their students about the SDSS telescope and the cosmos. 
		<br> 
		<br>
		This program provides a unique opportunity for middle and high school teachers to bring astronomical data into the classroom. Students are able to to learn what it's like to be a part of a large collaboration and work with a huge dataset, which is easily searchable through the SDSS website. I encourage anybody interested in learning more about the program or the activites provided to the educators to take a look at the <a href="http://voyages.sdss.org/"><font color="#0000ff">voyages website</font></a>.
    	<br>
    	<br>
    	Local educators attend a weekend workshop to learn about the SDSS database and the plug plate. Here is an image from a few years ago of me (I'm in black and with no hair!) and the local educators who came to learn more about SDSS. (Wondering why this image is upside down? I'm wondering the same thing! Hopefully this will change soon.... •͡˘㇁•͡˘)
    	<div style="text-align:center"><img src="https://drenniks.github.io/static/img/plates_for_ed.jpg" width="413" height="306"></div>
    	</p>

    </article>
</section>