<section class="thirteen columns">
    <h1>Outreach</h1>
    <article>
    	<header>
    		<h1>Sloan Digital Sky Survey Plates for Education Project</h1>
    	</header>
    	<p>
		While at the University of Washington, I helped the SDSS Education and Public Outreach team start the <a href="https://www.sdss.org/education/">Plates for Education project</a>. Through this program, local educators around SDSS institutions were able to bring home a unique aluminum plug plate to teach their students about the SDSS telescope and the cosmos. 
		<br> 
		<br>
		This program provides a unique opportunity for middle and high school teachers to bring astronomical data into the classroom. Students are able to to learn what it's like to be a part of a large collaboration and work with a huge dataset, which is easily searchable through the SDSS website. I encourage anybody interested in learning more about the program or the activites provided to the educators to take a look at the <a href="http://voyages.sdss.org/">voyages website</a>.
    	<br>
    	<br>
    	Local educators attend a weekend workshop to learn about the SDSS database and the plug plate. Here is an image from a few years ago of me and the local educators who came to learn more about SDSS. 
    	<div style="text-align:center"><img src="https://drenniks.github.io/static/img/plates_for_ed.jpg" width="1652" height="1224"></div>
    	</p>

    </article>
</section>