<section class="thirteen columns">
    <h1>Outreach</h1>
    <article>
    	<header>
    		<h1>Graduate Association of Physicists</h1>
    	</header>
    	<p>
		Throughout my time at Georgia Tech, I have been a part of <a href="http://gap.physics.gatech.edu/"><font color="#0000ff">GAP</font></a>. We serve as a representative for the physics graduate students and aim to promote professional development and scientific outreach with the Atlanta community. I have served as scretarty/treasurer, President, and currently I am the Mentoring Chair. Throughout my time with GAP, we have hosted numerous outreach events to connect people in Atlanta to science we conduct within the School of Physics, hosted career events for graduate students, and have worked hard to improve student life within the school.
		<br> 
		<br>
		As Mentoring Chair, I run the mentoring program, which is focused on helping the first year graduate students get acclimated to life as a graduate student. I am in charge of coordinating graduate student volunteers to be mentors for the new students and organize three mentoring sessions during their first semester. These sessions are focused on work-life balance, career and research options, and program specific advice and guidance. I work closely with Dr. Emily Alicea-Munoz who runs the TA training class that the first year graduate students are required to take. Helping new graduate students find their place in the School of Physics is something I am passionate about and I am committed to leaving behind a better system and program than the one that came before me. 
    	</p>

   		<br>
    	<header>
    		<h1>Sloan Digital Sky Survey Plates for Education Project</h1>
    	</header>
    	<p>
		While at the University of Washington, I helped the SDSS Education and Public Outreach team start the <a href="https://www.sdss.org/education/"><font color="#0000ff">Plates for Education project</font></a>. Through this program, local educators around SDSS institutions were able to bring home a unique aluminum plug plate to teach their students about the SDSS telescope and the cosmos. 
		<br> 
		<br>
		This program provides a unique opportunity for middle and high school teachers to bring astronomical data into the classroom. Students are able to to learn what it's like to be a part of a large collaboration and work with a huge dataset, which is easily searchable through the SDSS website. I encourage anybody interested in learning more about the program or the activites provided to the educators to take a look at the <a href="http://voyages.sdss.org/"><font color="#0000ff">voyages website</font></a>.
    	<br>
    	<br>
    	Local educators attend a weekend workshop to learn about the SDSS database and the plug plate. Here is an image from a few years ago of me (I'm in black and with no hair!) and the local educators who came to learn more about SDSS. 
    	<div style="text-align:center"><img src="https://drenniks.github.io/static/img/plates_for_ed.jpg" width="413" height="306" transform:rotate(90deg)></div>
    	</p>

    </article>
</section>