<section class="thirteen columns">
  <h1>Current Research Projects</h1>
  	For my first research project at Georgia Tech, I am working on analyzing the environments of the first stars in the universe. Using a 1 Mepaparsec comoving volume simulation, I am able to analyze when, where, and in what type of halos population 3 stars form in. More details on this soon! 
  	<br>
 	 For now, here are some images to satisfy your curiosity. The first image is a projected density from the end of the simulation I am working on at a redshift of 9.9. The following image is from the beginning of the simulation at a redshift of 27.2.
  	<br>
    	<div style="text-align:center"><img src="https://drenniks.github.io/static/img/proj_9.9982085694925.jpg" width="543" height="460"></div>
  	<br>
  		<div style="text-align:center"><img src="https://drenniks.github.io/static/img/proj_27.232624114582.jpg" width="543" height="460"></div>
  <h1>Past Research Projects>

</section>